body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;

}

h1 {
    color: green;
    text-align: center;
    background-color: yellowgreen;

}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 50px;
    text-align: left;
}

.main-heading {
    background-color: yellowgreen;

}
#paragraph-2 {
    color: green;
}

  
ul {
    color: green;
    background-color: yellowgreen;

}